# APP
APP_ENV=development
APP_PORT=5000
DATABASE_URL=postgresql://user:password@host:post/db_name
ACCESS_TOKEN_EXPIRY=900000
REFRESH_TOKEN_EXPIRY=604800000
TOKEN_SECRET=random_token
ALLOWED_ORIGINS=http://localhost:3000

# SERVICES
# REDIS CACHE
REDIS_CACHE_URL=redis://host:6379
REDIS_CACHE_PASSWORD=password

# REDIS QUEUE
REDIS_QUEUE_HOST=host
REDIS_QUEUE_PORT=6380
REDIS_QUEUE_PASSWORD=password


# EMAIL SERVICE
EMAIL_HOST=smtp.zoho.in
EMAIL_PORT=587
EMAIL_USER=example@email.com
EMAIL_FROM=Botify<example@email.com>
EMAIL_PASSWORD=password
